[submodule "FlyFi/rtmidi"]
	path = FlyFi/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "FlyFi/embedded-midilib"]
	path = FlyFi/embedded-midilib
	url = https://github.com/coon42/embedded-midilib.git
[submodule "FlyFi/eMIDI"]
	path = FlyFi/eMIDI
	url = https://github.com/coon42/eMIDI.git
